$font-family-sans-serif: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "bootstrap/scss/bootstrap-reboot";
@import "bootstrap/scss/bootstrap-utilities";

@import "bootstrap/scss/bootstrap-grid";
@import "bootstrap/scss/containers";

@import "bootstrap/scss/alert";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/tables";

.page-item {
  margin: 0 0.1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page-item:not(:first-child):not(:last-child):not(:nth-child(2)):not(:nth-last-child(2)) .page-link {
  min-width: 3.2rem;

  text-align: center;
  letter-spacing: -0.1rem;
}
